.form-control {
  background-color: transparent;
  border: 0.1 rgba(255, 255, 255, 0.05);
  color: white;
}

// Form Styling
.subscribe {
  width: 100%;

  // This styles the "Box" around the input and button
  .input-group {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    padding: 5px;

    // 1. The Paper Plane Icon
    .input-group-text {
      background: transparent;
      border: 0.1px solid rgba(214, 214, 214, 0.2);
      color: #aab0c4;
      padding-right: 10px;
      display: flex;
      align-items: center;
    }

    // 2. The Input Field
    .form-control {
      background: transparent;
      border: 0.1px solid rgba(214, 214, 214, 0.2);

      box-shadow: none;
      height: auto;

      &::placeholder {
        color: rgba(255, 255, 255, 0.5);
      }
    }

    // 3. The Button
    .btn-success {
      background-color: rgb(30, 221, 30);
      border: none;
      font-weight: 600;
      padding: 10px 30px;
      border-radius: 4px;
      transition: all 0.3s ease;

      &:hover {
        background-color: darken(#22a72d,5%);
        transform: translateY(-2px);
      }
    }
  }
}

.wave-wrapper {
  position: absolute;
  bottom: 0; 
  left: 0;
  width: 100%;
  height: 180px; // Adjust height of the wave area
  overflow: hidden;
  line-height: 0;
  z-index: 0; // Behind text if needed, or 1 if overlay
}

.waves {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: -1px; 
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
  fill: var(--wave-color); 
}

/* 3. The Animation Keyframes */
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  50% {
    transform: translate3d(0, -5px, 0); 
  }
  100% { 
    transform: translate3d(85px, 0, 0);
  }
}