.nav-header {
  position: fixed; 
  background: transparent;
  border-bottom: 1px solid rgba(214, 214, 214, 0.2); 
  overflow: hidden; 
  padding-bottom: 50px;
}

.navbar {
  .navbar-brand {
    margin: 0;
    padding: 0px 90px 0px 0px;
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--heading-color);
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    line-height: 1.2;
    white-space: nowrap;

    i.fa {
      color: var(--btn);
      margin-right: 5px;
      vertical-align: bottom;
    }

    span.logo {
      text-transform: none;
      display: block;
      font-size: 14px;
      padding-left: 46px;
      font-weight: 600;
      opacity: 0.9;
      left: 30px;
      margin-left: 20px;
      color: var(--heading-color);
    }
  }
}

// Search Control (Often goes in header)
.control {
  .icon-material-search {
    color: var(--text);
    transition: opacity 0.3s ease-in-out;
  }

  .btn-material {
    line-height: 45px;
    text-align: center;
    width: 45px;
    height: 45px;
    box-sizing: border-box;
    transform-origin: 50% center;
    border-radius: 100%;
    margin-left: 160px;
    background: var(--btn);
    outline: 0px;
    transition: 0.7s cubic-bezier(0.4, 0, 0.2, 1);
  }
}
