// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
:root {
  --font-primary: "Jost", sans-serif;
  --border-radius: 10px;
}

.btn-style {
  padding: 15px 50px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  transition: 0.3s ease-in;
  border-radius: var(--border-radius);
  color: #fff;
  background-color: #00a63f;
  border-color: #00a63f;
}

.btn-success {
  transition: 0.55 all;
  color: #fff;
  background-color: #008030;
  border-color: #00732c;
}

/* Circle button for bar chart */
.progress-bar.gradient-1:after,
.progress-bar.gradient-1:before {
  content: "";
  position: absolute;
  right: 20%;
  top: 90%;
  border-radius: 50%;
  transform: translate(50%, -50%);
}

.progress-bar.gradient-2:after,
.progress-bar.gradient-2:before {
  content: "";
  position: absolute;
  right: 5%;
  top: 90%;
  border-radius: 50%;
  transform: translate(50%, -50%);
}

.progress-bar.gradient-3:after,
.progress-bar.gradient-3:before {
  content: "";
  position: absolute;
  right: 40%;
  top: 90%;
  border-radius: 50%;
  transform: translate(50%, -50%);
}

.progress-bar.gradient-4:after,
.progress-bar.gradient-4:before {
  content: "";
  position: absolute;
  right: 15%;
  top: 90%;
  border-radius: 50%;
  transform: translate(50%, -50%);
}

.progress-bar.gradient-1:after,
.progress-bar.gradient-2:after,
.progress-bar.gradient-3:after,
.progress-bar.gradient-4:after {
  height: 18px;
  width: 18px;
  border: 3px solid;
  background-color: var(--background-color);
}

.progress-bar.gradient-1:before,
.progress-bar.gradient-2:before,
.progress-bar.gradient-3:before,
.progress-bar.gradient-4:before {
  height: 40px;
  width: 40px;
  border: 1px solid;
  opacity: 0.4;
}

/*Button go up*/

.btn-back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;

  // Shape and Size
  width: 50px;
  height: 50px;
  border-radius: 50% !important;
  padding: 0;

  // Colors & visual style
  background-color: var(--btn);
  border: none;
  z-index: 1000; // Ensures it sits on top of other content

  // Flexbox to center the arrow icon
  display: flex !important;
  align-items: center;
  justify-content: center;

  // Hidden state (Initial state)
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px); // Starts slightly lower
  transition: all 0.4s ease-in-out;

  // Font size for the icon
  i {
    font-size: 1.2rem;
    font-weight: bold;
  }

  // The class we will add via JS to show the button
  &.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

.btn-style1 {
  padding: 8px 35px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 600;
  transition: 0.3s ease-in;
  color: var(--heading-color);
  border-radius: var(--border-radius);

  &:hover {
    color: #00a63f;
  }
}
