// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn-style {
  padding: 15px 50px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  transition: 0.3s ease-in;
  border-radius: $border-radius;
  color: #fff;
  background-color: #00a63f;
  border-color: #00a63f;
}

.btn-success {
  transition: 0.55 all;
  color: #fff;
  background-color: #008030;
  border-color: #00732c;
}
