.box-wrap {
  padding: 40px 30px;

  border-radius: var(--border-radius);

  text-align: center;

  box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;

  background-color: var(--background-color);

  transition: 0.3s ease;

  -webkit-transition: 0.3s ease;

  -moz-transition: 0.3s ease;

  -ms-transition: 0.3s ease;

  -o-transition: 0.3s ease;
}

.project-item {
  cursor: pointer;
  .project-overlay {
    background-color: rgba(52, 73, 94, 0.85);
    // Start fully visible
    opacity: 0;
    transition: all 0.4s ease-in-out;
  }

  &:hover {
    .project-overlay {
      // Make the overlay transparent, revealing the image beneath.
      opacity: 1;
    }
  }
}
